# ===== Python =====
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# ===== Virtual Environment =====
.venv/
venv/

# ===== Logs =====
*.log

# ===== Database / Local State =====
*.sqlite3
*.db

# ===== Docker =====
db-data/
