fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary
geoalchemy2

python-jose[cryptography]
passlib[bcrypt]

python-dotenv
pydantic
pydantic-settings
pydantic[email]
python-multipart
alembic
bcrypt<4.0
passlib[bcrypt]